/* Sidebar.css */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
  top: 100px;
  background-color: #c18484;
  padding: 1rem;
}

.sidebar h4 {
  text-align: center;
}

.nav-item {
  margin-left: 250px;
  padding: 1rem;
}
